<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
	    <feature>jakartaee-9.1</feature>
		<feature>microProfile-5.0</feature>
	</featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9082" host="*"/>

	<dataSource id="test-service-jpa" jndiName="jdbc/TestServiceDS" type="jakarta.sql.XADataSource">
		<jdbcDriver libraryRef="MsSQLLib"/>
		<properties.microsoft.sqlserver serverName="${db_serverName}" portNumber="${db_portNumber}"
										databaseName="${db_databaseName}"
										user="${db_username}"
										password="${db_password}"/>
	</dataSource>

	<library id="MsSQLLib">
		<fileset dir="${shared.resource.dir}/mssql" includes="*.jar"/>
	</library>

	<keyStore id="defaultKeyStore" location="keystore.jceks" type="JCEKS"  password="${keyStorePass}" />

	<ssl id="defaultSSLConfig" trustStoreRef="myTrustStore"/>
	<keyStore id="myTrustStore" location="/usr/local/openjdk-11/lib/security/cacerts" password="${trustStorePass}" />

	<webApplication id="test-service.war" location="test-service-1.0.0-SNAPSHOT.war" name="test-service">
		<classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
	</webApplication>

	<include location="userRegistry.xml"/>

</server>
